<footer>
    <div>
        FairPlay <br> 서울특별시 노원구 공릉로 232 <br> 대표 메일 kuk4270@gmail.com <br> 피드백 제안 kdk4270@naver.com <br>
        전화번호: 010-6351-4270 <br>
        Copyright fairplay™ All right reserved.
    </div>
</footer>