<header class="header bg-white text-center col sticky-top">
    <div class="upperMenu">
        <div class="ms-4">
            <a href="/">
                <img class="row-4" id="headerLogo" src="/pictures/fair-play.png" alt="logo"> Fair Play
            </a>
        </div>
        <div class="upperMenuInside m-2">
            <img id="headerLogin" src="pictures/login.jpg" alt="login">
            <div id="bar" class="m-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </div>
        </div>
    </div>
    </div>
    <div class="m-2" id="headerMenu">
        <a href="/soccer">Soccer</a>
        <a href="/basketball">BasketBall</a>
        <a href="/futsal">Futsal</a>
        <a href="/baseball">Baseball</a>
    </div>
</header>