<% layout('components/boilerplate.ejs') -%>

<div class="d-flex align-items-center justify-content-center mh-100" 
style="margin: 30px 0px 100px 0px">
    <div class="text-center">
        <img src="<%= imagePath %>" alt="x" class="m-4" style="width: 200px">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">주의! </span>존재하지 않는 페이지입니다.</p>
        <p class="lead">
            url을 확인해주세요!
          </p>
        <a href="/" class="btn btn-secondary">메인페이지로 돌아가기</a>
    </div>
</div>