@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


* {
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

body{
    overflow-x: hidden;
}

.header {
    border-bottom: solid 2px #2b2d42;
}

.upperMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    height: 12vh;
}

.upperMenu a {
    color: #2b2d42;
    text-decoration: none;
}

.upperMenu a:hover {
    color: #000000;
    text-decoration: none;
}

.upperMenuInside {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
}
#fair_paly_a span {
    font-family: 'Black Han Sans', sans-serif;
}

#headerLogo {
    height: 4vh;
}

#headerLogin {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

#headerMenu a {
    font-family: 'Black Han Sans', sans-serif;
}

#headerMenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    font-size: 1.3em;
}

svg {
    cursor: pointer;
}

@media (max-width: 500px) {
    #headerMenu {
        font-size: 0.95em;
    }

    #headerLogo {
        height: 2vh;
    }

    .upperMenu>div>a {
        font-size: 0.9em;
    }
}

#headerMenu a:link {
    color: #ff7f7f;
    text-decoration: none;
}

#headerMenu a:visited {
    color: #ff7f7f;
    text-decoration: none;
}

#headerMenu a:hover {
    color: #ef233c;
    text-decoration: none;
}

#headerMenu a:active {
    color: #d90429;
    text-decoration: none;
}

section:nth-of-type(1) {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    height: 40vh;
}

section:nth-of-type(1)>div img {
    width: 35px;
}

.fairPlay {
    margin: 0 auto;
    font-family: 'Permanent Marker', cursive;
    font-size: 4.0em;
    color: #0e7c7b;
}

.fairPlay+p {
    text-align: center;
    font-size: 1.0em;
    font-family: 'Noto Sans KR', sans-serif;
    color: #17bebb;
    font-weight: bold;
}

section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10vh;
    background-color: #edf2f4;
    margin: 0 auto;
}

.gallery {
    display: block;
    position: relative;
    width: 50%;
    margin: 0 auto;
    transform: translate(-12%, -11%);
}

.bannerImage {
    object-fit: cover;
    border-radius: 50px;
    height: 45vh;
}

.weather {
    display: flex;
    font-size: 27px;
    width: 25%;
    height: 30vh;
    background-color: #abbad4;
    padding: 0;
    border-radius: 10px;
    transform: translate(-37%, 10%);
}

.firstText {
    font-size: 1.4em;
    padding: 0;
    text-align: center;
    align-self: center;
}

.secondText {
    text-align: left;
    font-size: 0.8em;
    align-self: center;

}

@media (max-width: 1250px) {
    .firstText {
        font-size: 1.4em;
    }

    .secondText {
        font-size: 0.5em;
    }
}

@media (max-width: 950px) {
    .firstText {
        font-size: 1.4em;
        text-align: center;
        width: 90%;
    }

    .secondText {
        display: none;
    }

    .applyButton {
        width: 4.2rem;
        height: 2.0rem;
        font-size: xx-small;
    }
}

@media (min-width: 1600px) {
    .firstText {
        font-size: 2.3em;
    }

    .secondText {
        font-size: 1.2em;
    }
}


section:nth-of-type(3) {
    margin: 10vh 0;
    font-family: 'Courier New', Courier, monospace;
}
.table {
    width: 90%;
    margin: 0 auto;
}

.table>tbody:hover {
    cursor: default;
}

.table>thead>tr>th,
.table>thead>tr>td {
    font-weight: bolder;
    color: #000000;
}

th,
td {
    height: 10vh;
    align-self: center;
    font-family: 'Noto Sans KR', sans-serif;
    color: navy;
    font-weight: lighter;
}


.applyButton {
    border-radius: 17px;
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 0.3em 1.2em;
    font-size: var(16px);
    transition: color 0.15s, border-color 0.15s, box-shadow 0.25s, transform 0.15s;
}

.disabledButton {
    border-radius: 17px;
    color: #778da9;
    border: 2px solid #acb7c3;
    padding: 0.3em 1.2em;
    font-size: var(16px);
}

.applyButton:hover {
    border-color: #ff7143;
    color: white;
    background-color: #ff7143;
    /* offset-x | offset-y | blur-radius | spread-redius | color */
    box-shadow: 0em 0.3em 0.3em -0.1em #ff5200;
    transform: translateY(-0.1em);
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    background-color: #2b2d42;
    color: white;
    height: 30vh;
    padding: 10px;
}

footer div {
    text-align: left;
    font-size: 0.8em;
    font-family: 'Noto Sans KR', sans-serif;
    height: 50%;
    width: 90%;
}

.time-highlight {
    color: black;
    font-weight: bold; /* 시간 강조 스타일 */
}

.time-highlight {
    color: black;
    font-weight: bold; /* 시간 강조 스타일 */
}