h1 {
    width: 90%;
    margin: 0 auto;
}
.box {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    gap: 12px;
    width: 90%;
    margin: 0 auto;
}

.newGame, .applyGame {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 800;
    color: #f7f7f7;
}

.newGame:hover, .applyGame:hover {
    color: #f1f1f1;
    font-weight: 600;
}

.newGameLink:active, .applyGame:active {
    color: #f1f1f1;
    font-weight: 600;
}


tr {
    cursor: default;
}

td {
    color: #246a73;
}

.content {
    color: black;
}

.btn-info {
    background-color: #758bfd;
    border: solid 1px #758bfd;
}

.btn-info:hover {
    background-color: #5edcf5;
}

.btn-info:hover a {
    color: #ffffff;
}

.btn-warning {
    background-color: #ff8600;
    border: solid 1px #ff8600;
}
.btn-warning:hover {
    background-color: #ffb01d;
    border: solid 1px #ffb01d;
}
.btn-warning:active a {
    color: #ffffff !important;
}
.btn-warning:focus {
    background-color: #ffb01d;
}

.btn-success {
    background-color: #2fbf71;
}

.btn-success:hover {
    background-color: #8cd867;
    border: solid 1px #8cd867;
}

.btn-success:active {
    background-color: #8cd867 !important;
}

.mypageHeader {
    padding-top: 40px;
}

.fair_tier {
    color: #48ffc2;
    margin-top: 20px;
    margin-bottom: 17px;
    font-weight: 900;
}

.headerDiv {
    color: #ffffff;
    background-color: #1c3d58;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    font-weight: 600;
}
.newGameLink {
    color: #ffffff;
}

.registedPlay {
    font-weight: 800;
}

.btn-outline-primary {
    color: #4361ee;
    border: solid 2px #4361ee;
    border-radius: 15px;
    font-size: var(16px);
    transition: color 0.15s, border-color 0.15s, box-shadow 0.25s, transform 0.15s;
}

.btn-outline-primary:hover {
    background-color: #4361ee;
    border-radius: 15px;
    box-shadow: 0em 0.3em 0.3em -0.1em #4361ee;
    transform: translateY(-0.1em);
    cursor: pointer;
}

.mainBox{
    margin-bottom: 30px;
}
.time-highlight {
    color: black;
    font-weight: bold; /* 시간 강조 스타일 */
}
