h1 {
    font-weight: 800;
}
.newBtn {
    background-color: white;
    border: #1dd3b0 solid 4px;
    margin-top: 21px;
    color: #1dd3b0;
    padding: -10px 10px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1.1em;
    transition: color 0.15s, border-color 0.15s, box-shadow 0.25s, transform 0.15s;
}
label {
    color: #093a3e;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

.newBtn:hover {
    text-decoration: none;
    color: #114b5f;
    background-color: #1dd3b0;
    box-shadow: 0em 0.2em 0.2em -0.1em #6fbeff;
    transform: translateY(-0.1em);
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.newGame a:link {
    text-decoration: none;
}
.newBody {
    padding: 15px 0px 30px 0px;
    background-color: whitesmoke;
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 5px #b7ef76;
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.newBody>h1 {
    margin: 36px 0px 14px 0px;
    color: #2c9338;
    text-align: center;
    display: block;
}
.newBody form {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 20%;
    font-size: 1.1em;
    font-family: 'Noto Sans KR', sans-serif;
}
.newBody form #contents {
    height: 3.0em;
}

#backTomypage a {
    text-decoration: none;
    color: black;
}

#backTomypage {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
    margin: 0px;
}
#backTomypage form {
    margin: 0;
    display: inline-block;
    width: fit-content;
}

#backTomypage .btn-warning {
    color: white;
    background-color: #ffd100;
    border: solid 2px #ffd100;
    border-radius: 15px;
    font-size: var(16px);
    transition: color 0.15s, border-color 0.15s, box-shadow 0.25s, transform 0.15s;
}
.btn-warning {
    color: white;
    background-color: #ffd100;
    border: solid 2px #ffd100;
    border-radius: 15px;
    font-size: var(16px);
    transition: color 0.15s, border-color 0.15s, box-shadow 0.25s, transform 0.15s;
}

#backTomypage .btn-warning:hover {
    background-color: #ffd100;
    border-radius: 15px;
    color: white;
    box-shadow: 0em 0.3em 0.3em -0.1em #fbff00;
    transform: translateY(-0.1em);
    cursor: pointer;
}

.btn-warning:hover {
    background-color: #ffd100;
    border-radius: 15px;
    color: white;
    box-shadow: 0em 0.3em 0.3em -0.1em #fbff00;
    transform: translateY(-0.1em);
    cursor: pointer;
}

.btn-secondary {
    color: white;
    background-color: #9a8f97;
    border: solid 2px #9a8f97;
    border-radius: 15px;
    font-size: var(16px);
    transition: color 0.15s, border-color 0.15s, box-shadow 0.25s, transform 0.15s;
}

.btn-secondary:hover {
    background-color: #9a8f97;
    border-radius: 15px;
    border: solid 2px #9a8f97;
    color: white;
    box-shadow: 0em 0.3em 0.3em -0.1em #c3baba;
    transform: translateY(-0.1em);
    cursor: pointer;
}


#backTomypage .btn-secondary {
    color: white;
    background-color: #8d99ae;
    border: solid 2px #8d99ae;
    border-radius: 15px;
    font-size: var(16px);
    transition: color 0.15s, border-color 0.15s, box-shadow 0.25s, transform 0.15s;
}

#backTomypage .btn-secondary:hover {
    background-color: #8d99ae;
    border-radius: 15px;
    color: white;
    box-shadow: 0em 0.3em 0.3em -0.1em #bfc0c0;
    transform: translateY(-0.1em);
    cursor: pointer;
}


#backTomypage .btn-danger {
    color: white;
    background-color: #f42b03;
    border: solid 2px #f42b03;
    border-radius: 15px;
    font-size: var(16px);
    transition: color 0.15s, border-color 0.15s, box-shadow 0.25s, transform 0.15s;
}

#backTomypage .btn-danger:hover {
    background-color: #f42b03;
    border-radius: 15px;
    color: white;
    box-shadow: 0em 0.3em 0.3em -0.1em #f40303b4;
    transform: translateY(-0.1em);
    cursor: pointer;
}

.submit {
    background-color: white;
    border: #1dd3b0 solid 4px;
    color: #1dd3b0;
    width: 80%;
    padding: 5px 10px;
    border-radius: 20px;
    transition: color 0.15s, border-color 0.15s, box-shadow 0.25s, transform 0.15s;
}
.submit:hover {
    text-decoration: none;
    color: #114b5f;
    background-color: #1dd3b0;
    box-shadow: 0em 0.2em 0.2em -0.1em #fbff12;
    transform: translateY(-0.1em);
    cursor: pointer;
}

.update {
    padding: 5px 20px;
}

.btnDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;
}

.btn-finish {
    background-color: #f56a00;
    color: #ffffff;
    border-radius: 16px;
    transition: color 0.15s, border-color 0.15s, box-shadow 0.25s, transform 0.15s;
}
.btn-finish:hover {
    background-color: #f56a00;
    color: #ffffff;
    border-radius: 16px;
    box-shadow: 0em 0.2em 0.2em -0.1em #f44708;
    transform: translateY(-0.1em);
    cursor: pointer;
}

.checkApplicant {
    width: 90%;
    margin: 0 auto;
}

.checkHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
.applicant {
    background-color: #1dd3b0;
    width: 90px;
    margin: 0 auto;
    height: 10vh;
}