form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
#registerForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 0 auto;

}
h1 {
    font-family: 'Jua', sans-serif;
    text-align: center;
    margin: 30px;
    font-weight: bold;
    color: #993366;
}
#submit {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    gap: 14px;
}