@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');



.selectTier {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 7vh;
    justify-content: space-between;
    padding-bottom: 0px;
}

.selectTier>h2 {
    margin: 0;
}

.selectTier>h2>i {
    font-size: 0.7em;
    vertical-align: middle;
    color: #114b5f;
}

.tierDropDown>button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    background: none;
    font-family: 'Jua', sans-serif;
    color: #023047;
    border: 2px solid #023047;
    padding: 0 0.4em;
    padding-top: 0.2em;
    margin: 0;
    font-size: 0.8em;
    text-align: justify;
}

.tierDropDown>button:hover {
    background-color: #023047;
    border-color: #023047;
}

.tierDropDown a {
    font-family: 'Jua', sans-serif;
    text-decoration: none;
    color: #023047;
}

.tierDropDown a button:hover {
    text-decoration: none;
    color: #ffc300;
    background-color: white;
}

.tierDropDown {
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.tierClass {
    transform: translate(5%, 42px);
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.tierClass>img {
    width: 1.0em;
    height: 1.0em;
    transform: translateY(-2px);
}

.subHeader {
    padding-top: 5vh;
    background: linear-gradient(rgba(222, 222, 222, 0.85), rgba(255, 255, 255, 0.5)), url('/pictures/soccer.jpg') space;
    background-position: center;
    background-size: cover;
    height: 23vh;
    opacity: 1;
}
.subHeader h4.tierClass span {
    font-family: 'Jua', sans-serif;
    font-size: 25px;
}
.subHeader .selectTier h2, i {
    font-family: 'Black Han Sans', sans-serif;
}

@media (max-width: 620px) {
    .applybutton {
        width: 1.0em;
        height: 3.0em;
    }
}
.newGame {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.time-highlight {
    color: black;
    font-weight: bold; /* 시간 강조 스타일 */
}
  