<div class="board">
    <h2 class="boardHeader">자유 채팅장</h2>
    <div class="boardMain">
        <textarea name="boardText" id="boardText" cols="30" rows="10"></textarea>
        <div class="boardSubmit">
            <input type="text"><button>올리기</button>
        </div>
    </div>
</div>