<% layout('components/boilerplate.ejs') -%>
    <link rel="stylesheet" href="/stylesheets/soccer.css">
    <style>
        body {
            background-color: #e9ecef;
        }
    </style>

    <body>
        <div class="newBody">
            <h1>New Game!</h1>
            <br>
            <form action="/soccer" , method="POST">
                <label for="sport">종목</label>
                <select name="sport" id="sport">
                    <option value="soccer" selected>soccer</option>
                </select>
                <br>
                <label for="area">지역</label>
                <input type="text" name="area" id="area" placeholder="지역을 입력하세요">
                <br>
                <label for="time">경기 날짜</label>
                <input type="date" name="time" id="time" placeholder="경기 시작 시간을 입력하세요">
                <br>
                <label for="time">경기 시간</label>
                <input type="time" name="time" id="time" placeholder="경기 시작 시간을 입력하세요">
                <br>
                <label for="contents">세부 내용</label>
                <textarea name="contents" id="contents" cols="30" rows="10" placeholder="경기 장소 등 내용을 입력하세요"></textarea>
                <br>
                <label for="tier">경기 티어 선택</label>
                <select name="tier" id="tier">
                    <% for(let tier of tiers) { %>
                        <option value="<%=tier%>">
                            <%=tier%>
                        </option>
                        <% } %>
                </select>
                <br>
                <label for="application" style="display: none;">마감 유무</label>
                <select name="application" id="application" style="display: none;">
                    <option value="false" selected>모집 중</option>
                    <option value="true">마감</option>
                </select>
                <button>submit</button>
            </form>
        </div>
    </body>