<% layout('components/boilerplate.ejs') -%>
    <link rel="stylesheet" href="/stylesheets/soccer.css">

    <div>
        <div>
            <br>
            <h4 class="tierClass"
                style="color: #f9f91f; text-shadow: 1px 1px #ff0101, -1px -1px #ff0101, 1px -1px #ff0101, -1px 1px #ff0101;">
                &nbsp;프로 클래스<img src="\pictures\actor.png" alt=""></h4>
            <div class="selectTier">
                <h2>모집중인 경기<i>-soccer-</i></h2>
                <%- include('index.ejs') %>
            </div>
            <table class="table text-center">
                <thead class="align-middle">
                    <tr>
                        <th scope="row" class="col-2">종목</th>
                        <td class="col-2">시간</td>
                        <td class="col-6">내용</td>
                        <td class="col-2">신청</td>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr>
                        <th scope="row">종목</th>
                        <td>시간</td>
                        <td>내용</td>
                        <td><button class="applyButton">신청하기!</button></td>
                    </tr>
                    <tr>
                        <th scope="row">종목</th>
                        <td>시간</td>
                        <td>내용</td>
                        <td><button class="applyButton">신청하기!</button></td>
                    </tr>
                    <tr>
                        <th scope="row">종목</th>
                        <td>시간</td>
                        <td>내용</td>
                        <td><button class="applyButton">신청하기!</button></td>
                    </tr>
                    <tr>
                        <th scope="row">종목</th>
                        <td>시간</td>
                        <td>내용</td>
                        <td><button class="applyButton">신청하기!</button></td>
                    </tr>
                    <tr>
                        <th scope="row">종목</th>
                        <td>시간</td>
                        <td>내용</td>
                        <td><button class="applyButton">신청하기!</button></td>
                    </tr>
                    <tr>
                        <th scope="row">종목</th>
                        <td>시간</td>
                        <td>내용</td>
                        <td><button class="applyButton">신청하기!</button></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <h3>자유게시판</h3>
            </div>
        </div>
    </div>